body {
    background-color: gray;
}
h1 {
    text-align: center;
    background-color: gold;
    color: purple;
    font-size: 45px;
    padding: 20px;
    width: 500px;
    margin: auto;
    top: -100px;
}

#Instructions {
    text-align: center;
    color: green;
    background-color: gold;
    font-size: 30px;
    padding: 10px;
    width: 800px;
    margin: auto;
    top: -100px;
}

p {
    text-align: center;
    color: green;
    background-color: gold;
    font-size: 30px;
    width: 800px;
    margin: auto;
    top: -100px;
}

